<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.yb311.personal-newsroom.wakeup</string>
  <key>AssociatedBundleIdentifiers</key>
  <array>
    <string>com.yb311.personal-newsroom</string>
  </array>
  <key>BundleProgram</key>
  <string>Contents/Resources/bin/pnr-wake</string>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>900</integer>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
